
  <h2><%- nombre %></h2>
  <div class="datosAfiliado">
    <p><strong>Afiliado nro:</strong> <%= nroSocio %></p>
    <p><strong>Plan:</strong> <%= plan %> </p>
  </div>
  <div class="fechas">
    <p><strong>fecha de Nacimiento:</strong> <%= fechaNac %></p>
    <p><strong>Afiliado desde:</strong> <%= fechaAlta %></p>
  </div>
  <div class="grupoFamiliar"><strong>Grupo familiar:</strong>  
    <% if (familiares.length > 0) { %>
      <ul>
        <%for (let familiar of familiares) {%>
          <li><%= familiar.nombre%> (<%= familiar.relacion%>) </li>
        <%}%>
      </ul>
    <% } else { %>
      <p>No tiene</p>
      <%  }%>
  </div>
